<div class="edit-page">
  <h2 class="edit-title">アカウントの設定</h2>
  <div class="account-edit">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="edit-name">
        <%= f.label "アカウントの名前" %></br>
        <%= f.text_field :username, autofocus: true, class: "name-field" %>
      </div>

      <div class="edit-email">
        <%= f.label :email %></br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-field" %>
      </div>

      <div class="edit-introduction">
        <%= f.label "自己紹介" %></br>
        <%= f.text_area :introduction, autofocus: true, class: "edit-introduction" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="edit-password">
        <%= f.label "新しいパスワード" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "password-field" %>
      </div>

      <div class="edit-password">
        <%= f.label "新しいパスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "password-field" %>
      </div>

      <div class="edit-password">
        <%= f.label "古いパスワード" %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "password-field" %>
      </div>

      <div>
        <%= f.submit "更新", class: "edit-button" %>
      </div>
    <% end %>
  </div>
</div>