<%= provide(:title, 'お気に入り店舗一覧') %>
<div class="mypage">
  <ul class="mypage-list">
    <li class="list-box"><%= link_to "設定", edit_user_registration_path %></li>
    <li class="list-box"><%= link_to "保存したお店", user_favorites_path(@user.id) %></li>
    <li class="list-box"><%= link_to "購入予定の古着", user_items_path(@user.id) %></li>
  </ul>
  <div class="mypage-name">
    <%= @user.username %>さんのマイページ
  </div>
  <% if @store.present? %>
    <div class="favorite-list">
      <% @favorite_stores.each do |favorite| %>
        <div class="favorite-details">
          <p id="favorite-name"><%= link_to favorite.name, store_path(favorite.id), class: "favorite-name" %></p>
          <% favorite.store_images.each do |i| %>
            <span><%= image_tag i.image.to_s, class: "favorite-image" %></span>
          <% end %>
          <span class="store-outline"><%= favorite.outline.truncate(60) %></span>
          <span>代表的なクチコミ</span>
            <% if favorite.woms.present? %>
              <% favorite.woms.first(1).each do |wom| %>
                <p class="wom-box">
                  <span class="wom-f-content">タイトル：<%= wom.title %></span></br>
                  <span class="wom-f-content"><%= wom.content.truncate(60) %></span>
                </p>
              <% end %>
            <% else %>
              <p class="wom-box">まだクチコミはないみたいです</p>
            <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
  <h1>まだお気に入り店舗が登録されていません</h1>
  <% end %>
</div>
