<%= provide(:title, '検索') %>
<%= render 'search_form' %>
<% if @stores.present? %>
  <div class="store-page">
    <%= render 'paginate', stores: @stores %>
    <% @stores.each do |store| %>
      <div class="store-details">
        <span class="store-name"><%= link_to store.name, store_path(store.id) %></span>
        <span class="store-address">住所：<%= store.address %></span>
      </div>
      <% store.store_images.each do |store_image| %>
        <span>
          <%= link_to image_tag(store_image.image.to_s, class: 'store-image'), store_path(store.id) %>
        </span>
      <% end %>
      <span class="store-outline">店舗について：<%= store.outline.truncate(60) %></span>
    <% end %>
    <%= render 'paginate', stores: @stores %>
  </div>
<% else %>
  <div class="search-failure">検索ワードに一致する店舗はありませんでした..</div>
<% end %>
