<h1>検索結果</h1>
<%= render 'search_form' %>
<% if @stores.present? %>
  <div  class="store-page">
    <% @stores.each do |store| %>
      <div class="store-details">
        <div class="store-name">店舗名：<%= link_to store.name, '#' %></div>
        <p>住所：<%= store.address %></p>
      </div>
      <div class="store-outline">店舗について：<%= store.outline %></div>
      <% store.store_images.each do |store_image| %>
        <%= image_tag(store_image.image.to_s) %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div>検索ワードに一致する店舗はありませんでした..</div>
<% end %>
  