<div class="mypage">
  <ul class="mypage-list">
    <li class="list-box"><%= link_to "設定", edit_user_registration_path %></li>
    <li class="list-box"><%= link_to "保存したお店", user_favorites_path(@user.id) %></li>
    <li class="list-box"><%= link_to "購入予定アイテム", user_items_path(@user.id) %></li>
  </ul>
  <div class="mypage-name">
    <%= @user.username %>さんのマイページ
  </div>
  <div class="mypages-box">
    <div class="introduction-box">
    <% if @user.introduction.present? %>
      <%= @user.introduction %>
    <% else %>
      <h1>ここは自己紹介文です。設定から変更できます。</h1>
    <% end %>
    </div>
    <div class="mypage-box">
      <div class="mypage-element">
        クチコミ数<span class="mypage-woms"><%= @user.woms.count %>件</span>
      </div>
      <div class="mypage-element">
        保存したお店の数<span class="mypage-parts"><%= @user.favorites.count %>件</span>
      </div>
      <div class="mypage-element">
        購入予定のアイテム<span class="mypage-wear"><%= @user.items.count %>個</span>
      </div>
    </div>
  </div>
</div>
