<div class="mypage">
  <div class="mypage-name">
    <%= @user.username %>さんのマイページ
  </div>
  <ul class="mypage-list">
    <li class="list-box"><%= link_to "設定", edit_user_registration_path %></li>
    <li class="list-box"><%= link_to "保存したお店", user_favorites_path(@user.id) %></li>
    <li class="list-box"><%= link_to "欲しい古着", "#" %></li>
  </ul>
  <div class="mypages-box">
    <div class="mypage-box">
      <div class="mypage-element">
        クチコミ数<span class="mypage-woms"><%= @user.woms.count %>件</span>
      </div>
      <div class="mypage-element">
        保存したお店の数<span class="mypage-parts"><%= @user.favorites.count %>件</span>
      </div>
      <div class="mypage-element">
        欲しい古着  <span class="mypage-wear">個</span>
      </div>
    </div>
  </div>
</div>
