<div class="box-forgotpassword">
  <div class="box-inner">
  <h1>パスワードを忘れた場合</h1>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="box-forgotemail">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="box-login">
    <%= f.submit "パスワード再発行" %>
  </div>

  <% end %>
  </div>
</div>