<%= provide(:title, '購入予定のアイテム一覧') %>
<%= render 'layouts/link_nabvar' %></br>
<div class="item-index">
  <div class="item-save">
    <p class="btn btn-success"><%= link_to "欲しい古着アイテムを保存する", new_store_item_path %></p>
  </div>
  <% if @store.items.present? %>
    <% @store.items.each do |item| %>
    <div class="item-box">
      <%= image_tag(item.image.to_s) %>
      <p><%= item.name %></p>
      <%= item.price %>円
    </div>
    <% end %>
  <% else %>
    <h1>まだこのお店で購入予定のアイテムは保存されていません</h1>
  <% end %>
</div>