<%= render 'layouts/link_nabvar' %></br>
<div class="save-box">
  <%= form_with model: [@store, @item], local: true do |f| %>
    <%= f.hidden_field :store_id, value: @store.id %>
    <div>
      <%= f.file_field :image, class: "item-image" %>
      <% if @item.image.present? %>
        <%= image_tag(@item.image.to_s, onClick: "$('.item-image').click()", class: "img_prev") %>
      <% else %>
        <%= image_tag "public/images/600px-No_image_available.svg.png", class: "img_prev" %>
      <% end %>
    </div>
    <div>
      <%= f.text_field :name, placeholder: "アイテム名を入力してください", class: "item-name" %>
    </div>
    <div>
      価格<%= f.text_field :price, class: "item-price" %>円
    </div>
    <div>
      <%= f.submit "保存" %>
    </div>
  <% end %>
</div>
