<%= provide(:title, 'クチコミ') %>
<%= render 'layouts/link_nabvar' %>
<div class="wom-link">
  <% if user_signed_in? %>
    <%= link_to 'クチコミを投稿する', new_store_wom_path(@store.id), class: 'btn btn-success' %>
  <% else %>
    <%= link_to 'クチコミを投稿する', new_user_session_path, class: 'btn btn-success' %>
  <% end %>
</div>
<% if @store.woms.present? %>
  <% @store.woms.each do |w| %>
    <div class="wom-area">
      <span><%= link_to "削除", store_wom_path(@store, w), method: :delete, class: "wom-delete" %></span>
      <span><%= link_to "編集", edit_store_wom_path(@store, w), class: "wom-update" %></span>
      <h1 class="wom-list"><%= w.title %></h1>
      <div class="wom-list"><%= w.content %></div>
    </div>
  <% end %>
<% else %>
  <h1 class="not-wom-message">まだクチコミはありません</h1>
<% end %>